<form class="">
  <div class="">
    <label for="antal">Antal:</label>
    <input type="number" id="antal" placeholder="1" />
  </div>

  <div class="">
    <span>Levering:</span>
    <input type="radio" id="postnord" name="levering" />
    <label for="postnord">PostNord</label>
    <input type="radio" id="afhent" name="levering" />
    <label for="afhent">Afhent selv</label>
  </div>

  <div class="">
    <label for="navn">Navn:</label>
    <input type="text" id="navn" placeholder="Anders Andersen" />
  </div>

  <div class="">
    <label for="adresse">Adresse:</label>
    <input type="text" id="adresse" placeholder="Paradisæblevej 8" />
  </div>

  <div class="">
    <label for="email">Email:</label>
    <input type="text" id="adresse" placeholder="anders@andeby.com" />
  </div>

  <div class="">
    <label for="postnummer">Postnr. og By:</label>
    <input type="text" id="postnummer" placeholder="0900" />
    <input type="text" id="bynavn" placeholder="Frederiksberg" />
  </div>

  <div class="">
    <label for="telefon">Telefon:</label>
    <input type="tel" id="telefon" placeholder="555-555" />
  </div>

  <div class="">
    <input type="checkbox" />
    <label for="checkbox">Ja tak til nyhedsbreve og tilbud</label>
  </div>

  <button>Til betaling</button>
</form>
